.recipes {
    display: flex;
    gap: 30px;
}
/*makes items go next to each other*/

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*image above link*/

.recipe img {
    width: 200px;
    height: auto;
}
/*image styling*/

.recipe a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}
/*link styling*/

